In [37]:
import numpy as np
import pandas as pd

df = pd.read_csv('pokemon_df.csv')
df['DPS'] = df['Attack'] / df['Speed']
df['Avg_defenсe'] = (df['Defence']+df['Sp_defence'])/2
df.head()

,Name,Total,HP,Attack,Defence,Sp_attack,Sp_defence,Speed,DPS,Avg_defenсe
0,Bulbasaur,318,45,49,49,65,65,45,1.088889,57.0
1,Ivysaur,405,60,62,63,80,80,60,1.033333,71.5
2,Venusaur,525,80,82,83,100,100,80,1.025000,91.5
3,Venusaur,625,80,100,123,122,120,80,1.250000,121.5
4,Charmander,309,39,52,43,60,50,65,0.800000,46.5

In [57]:
df['Speed'].value_counts().sort_index()

5       3
10      4
13      1
15     13
20     19
       ..
150     6
151     1
160     1
180     1
200     1
Name: Speed, Length: 127, dtype: int64

In [38]:
df.groupby('Speed')['Total'].sum().head()

Speed
5     1305
10    1135
13     570
15    3582
20    6319
Name: Total, dtype: int64

In [50]:
df.pivot_table(values='Total', index='Attack', columns='Defence', aggfunc='sum', margins=True).fillna(0)

Defence,5,10,15,20,23,25,28,30,31,32,...,152,160,168,180,184,200,211,230,250,All
Attack,,,,,,,,,,,,,,,,,,,,,
5,670.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,670
10,0.0,540.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,505.0,0.0,1245
15,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,200
20,0.0,0.0,310.0,355.0,0.0,0.0,0.0,265.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2415
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,0.0,0.0,0.0,600.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,770.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2150
181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,570
185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,600
190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,780
All,670.0,540.0,1030.0,1730.0,240.0,463.0,463.0,4764.0,200.0,564.0,...,495.0,1755.0,495.0,1645.0,514.0,1090.0,570.0,1745.0,1125.0,459084

,Name,Total,HP,Attack,Defence,Sp_attack,Sp_defence,Speed,DPS,Avg_defense
0,Bulbasaur,318,45,49,49,65,65,45,1.088889,57.0
1,Ivysaur,405,60,62,63,80,80,60,1.033333,71.5
2,Venusaur,525,80,82,83,100,100,80,1.025000,91.5
3,Venusaur,625,80,100,123,122,120,80,1.250000,121.5
4,Charmander,309,39,52,43,60,50,65,0.800000,46.5